nav {
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav div {
  width: 65%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;

  background-color: #29ff99;

  width: 100px;
  height: 40px;

  color: #fff;

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  transition: 0.25s ease-in-out;
}

.link:hover {
  background-color: #fa129f;

  transition: 0.25s ease-in-out;
}