footer {
    background-color: #1E91F7;

    bottom: 0;

    width: 100%;
    height:auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
footer div{
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
}
footer div div{
    display: block;
    align-items: center;
    justify-content: center;
}
footer h2{
    color: #ffffff;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer a:hover{
    color: #000000;
    transition: 0.2s ease-in-out;
}
/* RESPONSIVIDADE DO RODAPE */
@media screen and (max-width: 600px) {
    footer div{
        flex-direction: column;
        
    }
    footer div div{
        text-align: center;
        width: 100%;
    }
    footer{
        height: 50vh;
    }
  } 